<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>

<body>
<br>
<div align="center">

    <br>
    <form th:id="addUser" action="#" th:action="@{/add}" th:object="${userAdd}" th:method="post"
          class="login">

        <p>Name</p>
        <input type="text" name="name" th:field="*{name}">
        <p>Last Name</p>
        <input type="text" name="lastname" th:field="*{lastName}">
        <p>Age</p>
        <input type="number" name="age" th:field="*{age}">

        <br>
        <p class="login-submit">
            <button type="submit" class="login-button">Add user</button>
        </p>
    </form>
    <br>
    <a href="/">Main page</a>
</div>
</body>
</html>
