<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <title>Users</title>
</head>

<body>

<h2>Users Relationship Manager</h2>

<br>
<div style="display: grid">
<a href="/create">Create user</a>

</div>
<br>
<div class="container-fluid">
<table border="5"  cellpadding="10" >

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each="user:${allUsers}">
        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
        <td th:text="${user.getAge()}">Age</td>
        <td>
            <form method="post" th:id="${user.getId()}" action="#" th:action="@{/delete(idUser=${user.getId()})}">
                <button type="submit" th:form="${user.getId()}">Delete</button>
            </form>
        </td>
        <td>


            <form method="post" th:id="${user.getId()}+d" action="#"
                  th:action="@{/preupdate(idUser=${user.getId()})}">
                <button type="submit" th:form="${user.getId()}+d">Update</button>
            </form>
        </td>
    </tr>
</table>
</div>

</body>
</html>